/frontend/node_modules
/frontend/.next
/backend/node_modules
/backend/.keystone
/mockup/node_modules
.next
.keystone
frontend/.next
frontend/.next/*
backend/.env
ca-certificate.crt
frontend/.env.local
database/backup.sql
database/backup12202022_2.sql
database/backup12202022.sql
database/.idea/.gitignore
database/.idea/database.iml
database/.idea/dataSources.xml
database/.idea/modules.xml
database/.idea/vcs.xml
cartitem.csv
categories.csv
concentrate.csv
flower.csv
machine.csv
oils.csv
order.csv
orderitems.csv
pricing.csv
pricingproduct.csv
prisma.csv
product.csv
productimage.csv
productpricethreshold.csv
products.csv
products.xlsx
role.csv
user_backup.csv
user_empty.csv
user.csv
vendor.csv
